/* NAVIGATION */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 10px 40px;
}

nav .logo {
    font-weight: bold;
    color: #6a8345;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-weight: bold;
    text-transform: uppercase;
}

nav ul li a:hover {
    border-bottom: 4px solid #A8AF69;
}

nav .auth {
    display: flex;
    align-items: center;
    gap: 10px;
}

nav input {
    padding: 5px;
}

.btn-login {
    background: #A8AF69;
    color: white;
    border: none;
    padding: 10px 12px;
    cursor: pointer;
    border-radius: 4px;
}


/* Bdn actus */


.bdn-actus {
    height: 150px;
    background-color: #A8AF69;
    text-align: center;
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ACTUS */
.all-news {
    background: none;
    border: none;
    margin-top: 50px;
    color: #2D621C;
    border: 2px solid transparent;
    padding: 7px 15px;
    transition: all 0.2s;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.all-news:hover {
    border: 2px solid #2D621C;
    transition: all 0.2s;
}

.all-news i {
    margin-right: 10px;
}

.news-card-large {

    margin: 2rem auto;
    margin-top: 50px;
    font-family: Arial, sans-serif;
}

.news-image {
    position: relative;
}

.news-image img {
    width: 100%;
    display: block;
}

.news-date {
    position: absolute;
    top: 0;
    left: 0;
    background: #a7a767;
    /* vert olive comme ton exemple */
    color: #fff;
    text-align: center;
    padding: 5px 8px;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.2;
}

.news-date .day {
    display: block;
    font-size: 18px;
}

.news-date .month {
    display: block;
    font-size: 12px;
}

.news-content {
    padding: 35px;
    position: relative;
    top: -50px;
    left: -25px;
    z-index: 99999;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.news-content h2 {
    margin: 0 0 10px;
    font-size: 23px;
    font-weight: bold;
    text-transform: uppercase;
}

.news-content p {
    font-size: 14px;
    color: #444;
    line-height: 1.6;
    margin-bottom: 15px;
}

.news-link {
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    color: #a7a767;
    /* vert doux */
    text-decoration: none;
    margin-top: 15px;
}

.news-link .plus {
    display: inline-block;
    margin-right: 8px;
    font-size: 18px;
    color: white;
    background-color: #a7a767;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.news-card hr {
    background-color: #999595;
    border: none;
    height: 1px;
}

.news-fiche-date {
    color: #2D621C;
}




/* FOOTER */
footer {
    background: #A8AF69;
    color: white;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-links {
    display: flex;
    margin-bottom: 20px;
    width: 100%;
}

.footer-links ul {
    list-style: none;
}

.footer-links ul li {
    margin-bottom: 10px;
}

.footer-links ul li a {
    text-decoration: none;
    color: white;
}

h4 {
    margin-bottom: 10px;
}

copyright {
    text-align: center;
}